/* General */
* {
  font-family: Arial;
}
h1 {
  text-align: center;
  color: #333333;
}
body {
  margin: 0px;
  overflow: visible;
  background-color: #e7e7e7;
  color: #333333;
}

/* Menus */
#menus {
  display: flex;
  justify-content: start;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
g#Year {
  margin-left: 20px;
}
.slider,
.dropdown {
  vertical-align: middle;
}


/* Contains SVGs */
.svg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Choropleth Map  & Checkboxes */
svg#map {
  height: 500px;
  width: 960px;
}
.sphere {
  fill: #898989;
}
.country,
.checkbox {
  stroke: #333333;
  stroke-linecap: 'round';
  stroke-width: 0.1px;
}
.selected {
  stroke: #333333; 
  stroke-linecap: 'round';
  stroke-width: 2px;
}

/* Line Chart */
svg#line {
  height: 500px;
  width: 450px;
}

/* Legend */
svg#legend {
  height: 2500px;
  width: 100px;
  overflow-y: scroll;
}
div#legend-container {
  height: 500px;
  width: 120px;
  overflow-x: visible;
  overflow-y: scroll;
}


/* Descriptions */
#descriptions {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-top: 2px solid #333333;
  padding-top: 5px;
}

/* Tooltip */
#tooltip {
  position: absolute;
  display: none;
  background: #e7e7e7;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  border-bottom: 5px solid;
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  min-width: 100px;
}
.tooltip-title {
  font-size: 14px;
  font-weight: 600;
}
#tooltip ul {
  margin: 5px 0 0 0;
  padding-left: 20px;
}

#credits {
  margin-left: 30px;
}